#!/usr/bin/make -f

# see FEATURE AREAS in dpkg-buildflags(1)
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# Ensure that we link against all needed libraries (cf. Policy 10.2)
export DEB_LDFLAGS_MAINT_APPEND=-Wl,-z,defs

# needed for rdmacm and ibverbs
export rdmacm_LIBS=-lrdmacm
export rdmacm_CFLAGS="-I/usr/include/rdma"
export ibverbs_LIBS=-libverbs
export ibverbs_CFLAGS="-I/usr/include/infiniband"

%:
	dh $@ --with autoreconf,systemd

override_dh_autoreconf:
	dh_autoreconf ./autogen.sh

override_dh_auto_configure:
	dh_auto_configure -- \
	    --enable-dbus \
	    --enable-testagents \
	    --enable-rdma \
	    --disable-monitoring \
	    --enable-watchdog \
	    --enable-augeas \
	    --enable-snmp \
	    --enable-xmlconf \
	    --enable-systemd \
	    --enable-upstart \
	    --enable-qdevices \
	    --disable-static

override_dh_auto_build:
	dh_auto_build
	$(MAKE) doxygen

override_dh_auto_install:
	dh_auto_install
	rm -v debian/tmp/usr/lib/*/lib*.la
# we don't need the upstream SysV init scripts and license
	rm debian/tmp/usr/share/corosync/corosync \
	   debian/tmp/usr/share/corosync/corosync-notifyd \
	   debian/tmp/usr/share/doc/corosync/LICENSE
# install example configuration file
	mkdir -p $(CURDIR)/debian/corosync/etc/corosync/
	cp -ax $(CURDIR)/debian/corosync.example-config $(CURDIR)/debian/corosync/etc/corosync/corosync.conf

override_dh_install:
	dh_install --fail-missing --exclude=.md5

override_dh_installinit:
	dh_installinit -p corosync --name corosync -- defaults 19 1
	dh_installinit -p corosync --name corosync-notifyd -- defaults 19 1

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog

override_dh_strip:
	dh_strip --dbg-package=corosync-dbg

override_dh_compress:
	dh_compress
	for a in $(CURDIR)/debian/corosync/usr/sbin/*; do chrpath -d $$a; done
